POSTGRES_USER=p13_user
POSTGRES_PASSWORD=p13_password
POSTGRES_DB=p13_scolarite
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://p13_user:p13_password@postgres:5432/p13_scolarite

API_HOST=0.0.0.0
API_PORT=8000
API_URL=http://api:8000

STREAMLIT_SERVER_PORT=8501

JUPYTER_PORT=8888
JUPYTER_TOKEN=p13-jupyter

MLFLOW_TRACKING_URI=http://mlflow:5000
MODELS_DIR=/app/models
